
* @lfasnacht @rtetaz @rlejeune @aboulmier

# CRYPTO
/downloads/gopenpgp-sys@* @crypto
/downloads/proton-crypto@* @crypto
/downloads/proton-crypto-account@* @crypto
/downloads/proton-srp@* @crypto
/downloads/proton-crypto-subtle@* @crypto
/downloads/proton-rpgp@* @crypto

# VPN
/downloads/muon*@* @lfasnacht @aboulmier
/downloads/proton-vpn-binary-status*@* @ProtonVPN/groups/linux-developers

