
* @lfasnacht @rtetaz @rlejeune @aboulmier

# CRYPTO
/downloads/gopenpgp-sys@* @crypto
/downloads/proton-crypto@* @crypto
/downloads/proton-crypto-account@* @crypto
/downloads/proton-srp@* @crypto
/downloads/proton-crypto-subtle@* @crypto
/downloads/proton-rpgp@* @crypto

# Foundation
downloads/proton-foundation-* @backend-team/foundation-team

# VPN
/downloads/muon*@* @lfasnacht @aboulmier
/downloads/pvpnclient@* @lfasnacht @aboulmier
/downloads/proton-boringtun*@* @lfasnacht @aboulmier
/downloads/proton-pfff*@* @lfasnacht @aboulmier
/downloads/proton-vpn-netstack@* @lfasnacht @aboulmier
/downloads/proton-os-interface@* @lfasnacht @aboulmier
/downloads/proton-alternative-routing@* @lfasnacht @aboulmier
/downloads/proton-vpn-socks-proxy@* @lfasnacht @aboulmier
/downloads/proton-vpn-binary-status*@* @ProtonVPN/groups/linux-developers
/downloads/proton-vpn-local-agent@* @lfasnacht @fduraffo
/downloads/proton-vpn-rcrl@* @lfasnacht @aviaud @fduraffo
/downloads/proton-vpn-utils@* @lfasnacht @fduraffo

